 <%= render 'layouts/sidebar' %>
 <div class="minhamain">
            <div class="alert alert-success">
                <strong> <i class="fa fa-plus fa-lg"></i> Adicione uma Pergunta</strong>  
            </div>
            <div class="container col-lg-6">
    <%= form_for @pergunta, url: {action: "create"} do |f| %>
	
    <% if @pergunta.errors.any? %>
	<div id="errors">
	      <h2><%= pluralize(@pergunta.errors.count, "error") %> prevented this post from saving:</h2>
		  <ul>
		      <% @post.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
		  <% end %>

		  </ul>
	</div>
	<% end %>

	<%= f.text_area :pergunta,  class:'form-control', placeholder: 'Digite a Pergunta', size: "60x4" %><br>
	
	<%= f.text_area :dica, class:'form-control', placeholder: 'Insira a Dica', size: "60x2" %><br>
    
	<%= f.text_field :alternativa_correta, class:'form-control', placeholder: 'Alternativa Correta' %><br>
	
	<%= f.text_field :alternativa_2, class:'form-control', placeholder: 'Alternativa 2' %><br>
	
	<%= f.text_field :alternativa_3, class:'form-control',  placeholder: 'Alternativa 3' %><br>
	
	<%= f.text_field :alternativa_4, class:'form-control',  placeholder: 'Alternativa 4' %><br>
	
    <%= f.text_field :nivel, class:'form-control',  placeholder: 'Nível' %><br>

	<%= f.text_area :explicacao, class:'form-control',  placeholder: 'Explicação', size: "60x4" %><br>
	
	<%= f.submit "Adicionar Pergunta", class: "btn btn-success btn-block rounded mx-auto d-block" %>
        <br>
<% end %>
            </div>
        </div>
