          <%= render 'layouts/sidebar' %>      
               <div class="minhamain">  
            <div class="alert alert-success">
                <strong>Seja bem vindo(a)</strong> Username!
            </div>

            <div class="row botao">
                <div class="col-md-3">
                    <div class="card p-30 card-fluid" style="background-color: #f2f3f5;">
                        <div class="media">
                            <div class="media-left meida media-middle" style="margin: auto; margin-top: 10px; margin-left: 10%; margin-right: 20%;">
                                <span><i class="fa fa-user fa-3x text-info f-s-40 color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right" style="margin: auto; margin-top:10px;">
                                <h2 class="text-info" style="display: block !important"><%= @numuser %></h2>
                                <p class="m-b-0" style="color: #4f5b69; font-weight: normal; display: block; font-size: 65%;">Usuários</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card p-30 card-fluid" style="background-color: #f2f3f5;">
                        <div class="media">
                            <div class="media-left meida media-middle" style="margin: auto; margin-top: 10px; margin-left: 10%; margin-right: 20%;">
                                <span><i class="fa fa-question-circle fa-3x text-primary f-s-40 color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right" style="margin: auto; margin-top:10px;">
                                <h2 class="text-primary" style="display: block !important"><%= @numperg %></h2>
                                <p class="m-b-0" style="color: #4f5b69; font-weight: normal; display: block; font-size: 65%;">Perguntas</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-30" style="background-color: #f2f3f5;">
                        <div class="media">
                            <div class="media-left meida media-middle" style="margin: auto; margin-top: 10px; margin-left: 10%; margin-right: 20%;">
                                <span><i class="fa fa-gift fa-3x f-s-40 color-success text-success"></i></span>
                            </div>
                            <div class="media-body media-text-right" style="margin: auto; margin-top:10px;">
                                <h2 class="text-success" style="display: block !important">23</h2>
                                <p class="m-b-0" style="color: #4f5b69; font-weight: normal; display: block; font-size: 65%;">Média de Idade</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <button class="btn btn-outline-dark" style="margin-bottom: 20px;" disabled>Perguntas</button>
                <div class="row">
                    <form action="/inserirpergunta" method="get" >
                        <button type="submit" class="btn btn-sq-lg btn-primary botao" id="InserirPerguntas" value="Inserir Pergunta"/><i class="fa fa-plus fa-5x"></i></br>Inserir Pergunta</button>
                    </form>
                    </br>
                    <form action="/perguntas" method="get">
                        <button type="submit" class="btn btn-sq-lg btn-info botao" id="ExibirPerguntas" value="Exibir Perguntas"/><i class="fa fa-eye fa-5x"></i></br>Exibir Perguntas</button>
                    </form>
                </div>
            </div>

            <div class="container">
                <button class="btn btn-outline-dark" style="margin-bottom: 20px;" disabled>Usuários</button>
                <div class="row">
                    <form action="/usuarios" method="get">
                        <button type="submit" class="btn btn-sq-lg btn-info botao" id="ExibirUsuarios" value="Exibir Usuarios"/><i class="fa fa-eye fa-5x"></i></br>Exibir usuários</button>
                    </form>
                    </br>
                   
                    <form action="zerarRanking" method="get" >
                        <button type="submit" class="btn btn-sq-lg btn-danger botao"/><i class="fa fa-warning fa-5x"></i></br>Zerar Ranking</button>
                    </form>
                </div>
            </div>       

            <div class="container">
                <button class="btn btn-outline-dark" style="margin-bottom: 20px;" disabled>Administração</button>
                <div class="row">
                    <form action="/logerros" method="get">
                        <button type="submit" class="btn btn-sq-lg btn-warning botao" id="ExibirUsuarios" value="Exibir Usuarios"/><i class="fa fa-warning fa-5x"></i></br>Exibir Erros</button>
                    </form>
                    <form action="limparBanco" method="get">
                        <button type="submit" class="btn btn-sq-lg btn-danger botao" id="ExibirUsuarios" value="Exibir Usuarios"/><i class="fa fa-trash-o fa-5x"></i></br>Deletar banco</button>
                    </form>
                    <form action="perguntasTeste" method="get">
                        <button type="submit" class="btn btn-sq-lg btn-dark botao" id="ExibirUsuarios" value="Exibir Usuarios"/><i class="fa fa-plus fa-5x"></i></br>Inserir Perg. Aletatórias</button>
                    </form>
                </div>
            </div>     

           
        </div>
