/**** Transitions ****/


.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}
/* line 1, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.titulo {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 12px;
}

/* line 2, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  display: table;
}

/* line 8, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* line 11, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.divEsquerda {
  padding: 2px 16px;
  float: left;
  width: 40%;
}

/* line 17, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.divDireita {
  padding: 2px 16px;
  margin-left: 40%;
}

/* line 21, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

/* line 25, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

/* line 29, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu l.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}

/* line 41, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

/* line 48, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu .toggle-btn {
  display: none;
}

/* line 51, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
  */
}

/* line 72, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/* line 82, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .active, i.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

/* line 86, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

/* line 94, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

/* line 98, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* line 107, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

/* line 112, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

/* line 116, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* line 121, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 835px) {
  /* line 131, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 136, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  /* line 149, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .brand {
    text-align: left !important;
    font-size: 28px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 835px) {
  /* line 157, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* line 161, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 165, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
h1, h2 {
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  font-size: 13pt;
  color: #216721;
  display: inline;
}

/* line 174, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
h3 {
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  font-size: 13pt;
  color: #0d3a0d;
  font-weight: bold;
  display: inline;
}

/* line 184, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
a {
  font-style: italic;
}

/* line 187, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
body {
  background-color: #DCDCDC;
}

/* line 191, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
p {
  display: inline;
  font-weight: bold;
}

/* line 196, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.botao {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* line 201, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

/* line 206, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

/* line 212, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

/* line 218, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding: 2px;
}

/* line 223, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.botaoinscricoes {
  margin-bottom: 10px;
}

/* The sidebar menu */
/* line 228, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 170px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #008000;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
/* line 241, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
/* line 250, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
/* line 255, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /* line 262, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 263, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/* line 266, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2d9402 !important;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  color: #e1ffff;
}

/* line 278, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu .brand {
  background-color: #277307 !important;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
}

/* line 285, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu .toggle-btn {
  display: none;
}

/* line 288, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
  */
}

/* line 309, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/* line 319, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

/* line 324, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

/* line 328, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

/* line 332, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #277307 !important;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #008000;
  margin-left: 0px;
}

/* line 340, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

/* line 344, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* line 353, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #28a745;
  border-bottom: 1px solid #008000;
}

/* line 358, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

/* line 362, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* line 367, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #006000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 835px) {
  /* line 377, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 382, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  /* line 395, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .brand {
    text-align: left !important;
    font-size: 40px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 835px) {
  /* line 403, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* line 407, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
body {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 835px) {
  /* line 412, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
  .minhamain {
    margin-left: 250px;
  }
}
/* line 416, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
.sair {
  margin-top: 10%;
  margin-left: 4%;
  margin-bottom: 3%;
}

/* line 422, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/principal.scss */
li a {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */
/* line 19, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

/* line 23, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

/* line 27, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu l.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}

/* line 39, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu .brand {
  background-color: #2d9402;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

/* line 46, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu .toggle-btn {
  display: none;
}

/* line 49, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

/* line 70, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/* line 80, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .active, i.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

/* line 84, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

/* line 92, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

/* line 96, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* line 105, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

/* line 110, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

/* line 114, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* line 119, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 910px) {
  /* line 129, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 134, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  /* line 147, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .brand {
    text-align: left !important;
    font-size: 28px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 910px) {
  /* line 155, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* line 159, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 163, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
h1, h2 {
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
  font-size: 15pt;
  color: #2d9402;
  font-style: italic;
}

/* line 172, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
a {
  font-style: italic;
}

/* line 175, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
body {
  background-color: #6c757d47;
}

/* line 179, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.botao {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* line 184, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.btn-sq-lg {
  width: 250px !important;
  height: 150px !important;
}

/* line 189, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.btn-sq {
  width: 200px !important;
  height: 100px !important;
  font-size: 10px;
}

/* line 195, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.btn-sq-sm {
  width: 100px !important;
  height: 50px !important;
  font-size: 10px;
}

/* line 201, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.btn-sq-xs {
  width: 50px !important;
  height: 25px !important;
  padding: 2px;
}

/* line 206, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.botaoinscricoes {
  margin-bottom: 10px;
}

/* The sidebar menu */
/* line 211, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 170px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #008000;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
/* line 224, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
/* line 233, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
/* line 238, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  /* line 245, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .sidenav {
    padding-top: 15px;
  }

  /* line 246, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .sidenav a {
    font-size: 18px;
  }
}
/* line 249, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2d9402 !important;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  color: #e1ffff;
}

/* line 261, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu .brand {
  background-color: #277307 !important;
  color: #ffffff !important;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
}

/* line 269, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu .toggle-btn {
  display: none;
}

/* line 272, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

/* line 293, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/* line 303, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

/* line 308, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

/* line 312, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}

/* line 316, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #008000;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #008000;
  margin-left: 0px;
}

/* line 324, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}

/* line 328, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

/* line 337, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #28a745;
  border-bottom: 1px solid #008000;
}

/* line 342, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

/* line 346, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* line 351, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #006000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 910px) {
  /* line 361, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 366, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  /* line 379, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .brand {
    text-align: left !important;
    font-size: 40px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 910px) {
  /* line 387, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
/* line 391, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
body {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 910px) {
  /* line 396, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
  .minhamain {
    margin-left: 250px;
  }
}
/* line 400, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
.sair {
  margin-top: 10%;
  margin-left: 4%;
  margin-bottom: 3%;
}

/* line 405, /home/matheus_araujo/ShowDosAlimentos/app/assets/stylesheets/application.scss */
li a {
  display: block;
}
