<style>
        h1 { 
          font-style: italic; }  
        body {
          background-color: #ffffff; }
        .sombra {
          box-shadow: 0 0 0.6px 0.6px black; /*THIS does not work as expected*/
        }

        @media (max-width: 900px) {
            .imagem { width: 265px; height: 106px } }
         @media (max-width: 400px) {
            .title { font-size: 90%;  } }
</style>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2d9402;">
  <a class="navbar-brand title" style="font-style: italic; font-family: sans-serif" href="index.jsp">Dashboard Show dos Alimentos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" href="">Baixe o aplicativo</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/appicesoftware/">Appice Software</a>
      </li>
      
    </ul>
  </div>
  </nav>
        
        <div class="container col-lg-4">
            <br>
            <img src="<%= image_url('facil.png') %>" class="img-fluid rounded mx-auto d-block imagem" alt="Logo">
        <br>
        <div class="card bg-light mb-3 rounded sombra">
            <div class="card-header">Login</div>
            
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="card-body">
            
                <div class="input-group">
                <span class="input-group-text"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Insira seu Email', class: 'form-control' %>
                </div><br>     <!--FIQUEI COM MUITA DUVIDA NO LOGIN -->
                 <div class="input-group">
                <span class="input-group-text"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <%= f.password_field :password,  autocomplete: "current-password", placeholder: 'Insira sua Senha', class: 'form-control' %>
                 </div>
                 <br>
                   <%= f.submit "Log in", class: "btn btn-danger btn btn-lg btn-block rounded mx-auto d-block" %>
            </div>
        </div>
           <% end %>
        </div>