        <%= render 'layouts/sidebar' %>
        <div class="minhamain">
            <div class="alert alert-success" onclick="teste()">
                <i class="fa fa-eye fa-lg"></i><strong> Veja quem tem uma conta no aplicativo</strong> 
            </div>
            <div class="container col-lg-11" style="display: table;width: 100%;height: auto; table-layout: fixed;align-self: center;align-content: center;">

                <div class="container-fluid row"> 
                <!--Grafico1  MÉDIA DE ACERTOS----------------------------------------------------------------------------->  
                <div class="container col-lg-4" style="display: table-cell; align-content: center;align-items: center">
                    <p style="font-weight: bold; color: #277307;text-align: center">Média de Acertos</p>
                    <div style="width: auto; height: 275px;">
                        <img id="loading_grafico_acertos" style=" display: none;margin: 0 auto;vertical-align: central; width: 100px; height: 100px;"/>
                        <div id="grafico_media_acertos"  style="margin: 0 auto; width: 275px; height: 275px;"></div>
                    </div>
                    <div class="form-group container" style="margin-top: 10px;">     
                        <select id="seletor_acertos" class="filters-select form-control" onchange="pegaJsonAcertos()" style="margin-bottom: 10px; background-color:#fafafa">
                            <option class="btn btn-outline-success  menu-header" value="geral">Geral</option>  
                            <option class="btn btn-outline-success  menu-header" value="idade"/> Idade</option>
                            <option class="btn btn-outline-success  menu-header" value="genero"/> Genero</option>
                            <option class="btn btn-outline-success  menu-header" value="escolaridade"/> Escolaridade</option>
                        </select>
                    </div>
                </div>
                <!--Grafico2  ACERTOS POR NÍVEL---------------------------------------------------------------------------->
                <div class="container col-lg-4" style="display: table-cell;align-content: center;align-items: center">
                    <p style="font-weight: bold; color: #277307; text-align: center">Acertos por Nível</p>

                    <div style="width: auto; height: 275px;">
                        <img id="loading_grafico_nivel" style=" display: none;margin: 0 auto;vertical-align: central; width: 100px; height: 100px;"/>
                        <div id="grafico_acertos_nivel" style="margin: 0 auto; width: 275px; height: 275px;"></div>
                    </div>

                    <div class="form-group container" style="margin-top: 10px;">     
                        <select id="seletor_nivel" class="filters-select form-control" onchange="pegaJsonNivel()" style="margin-bottom: 10px; background-color:#fafafa">
                            <option class="btn btn-outline-success  menu-header" value="facil"/> Facil</option>
                            <option class="btn btn-outline-success  menu-header" value="medio"/> Médio</option>
                            <option class="btn btn-outline-success  menu-header" value="dificil"/> Difícil</option>
                            <option class="btn btn-outline-success  menu-header" value="muito_dificil"/> Muito Difícil</option>
                        </select>
                    </div>

                    <div class="form-group container" style="margin-top: 10px;">     
                        <select id="seletor_nivel_filtro" class="filters-select form-control" onchange="pegaJsonNivel()" style="margin-bottom: 10px; background-color:#fafafa">
                            <option class="btn btn-outline-success  menu-header" value="idade"/> Idade</option>
                            <option class="btn btn-outline-success  menu-header" value="genero"/> Genero</option>
                            <option class="btn btn-outline-success  menu-header" value="escolaridade"/> Escolaridade</option>
                        </select>
                    </div>
                </div>
                <!--Grafico3  TEMPO DE JOGO-------------------------------------------------------------------------------->
                <div class="container col-lg-4" style="display: table-cell;">
                    <p style="font-weight: bold; color: #277307;text-align: center">Tempo Jogando (min)</p>

                    <div style="width: auto; height: 275px;">
                        <img id="loading_grafico_tempo" style=" display: none;margin: 0 auto;vertical-align: central; width: 100px; height: 100px;"/>
                        <div id="grafico_tempo_jogando" style="margin: 0 auto; width: 275px; height: 275px;"></div>  
                    </div>

                    <div class="form-group container" style="margin-top: 10px;">     
                        <select id="seletor_tempo" class="filters-select form-control" onchange="pegaJsonTempo()" style="margin-bottom: 10px; background-color:#fafafa">
                            <option class="btn btn-outline-success  menu-header" value="idade"/> Idade</option>
                            <option class="btn btn-outline-success  menu-header" value="genero"/> Genero</option>
                            <option class="btn btn-outline-success  menu-header" value="escolaridade"/> Escolaridade</option>
                        </select>
                    </div>
                </div>
                
               </div>


            </div>

            <div class="container col-lg-12 table-responsive">
                <table id="example" class="table table-responsive  table-light table-bordered table-striped table-responsive-sm table-responsive-md  table-responsive-xl table-hover" style="width:100%">
                    <thead>
                        <tr style="color: #0d3a0d;">
                            <th>EMAIL</th>
                            <th>IDADE</th>
                            <th>GÊNERO</th>
                            <th>SERIE</th>
                            <th>ALTURA</th>
                            <th>PESO</th>
                            <th>IMC</th>
                            <th>TEMPO/<br>JOGANDO</th>
                            <th>MOEDAS/<br>DIAMANTES</th>
                            <th>ACERTOS/<br>PARTIDAS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @usuarios.each do |usuario| %>
                            <tr>
                                <td>
                                    <strong><%= usuario.email %></strong>
                                </td>
                                <td style="text-align: center;"><%= usuario.idade%></td>
                                <td style="text-align: center;"><%= usuario.genero %></td>
                                <td style="text-align: center;"><%= usuario.serie %></td>
                                <td style="text-align: center;"><%= usuario.altura %>cm</td>
                                <td style="text-align: center;"><%= usuario.peso %>kg</td>
                <td style="text-align: center;"><%= Float(usuario.peso).fdiv(usuario.altura*usuario.altura).round(2) %>
                                <td style="text-align: center;"><%= usuario.app_time %></td>
                                <td style="text-align: center;"><%= usuario.num_moedas%>/<%= usuario.num_diamanates %></td>
                                <td style="text-align: center;"><%= usuario.app_time %>/<%= usuario.partidas %></td>
                                <td> 
                                <%= button_to usuario, method: :delete, remote: true, class: "btn btn-outline-danger" do %>
                                 <span class="fa fa-trash-o"></span>
                                <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table> 
                <br>
            </div>
        </div>
