<div class="nav-side-menu">
    <div class="brand"><i class="fa fa-leaf fa-lg"></i> Show dos Alimentos</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/">
                  <i class="fa fa-dashboard fa-lg"></i> Painel de Controle
                  </a>
                </li>
            
                 <li>
                  <a href="/usuarios">
                  <i class="fa fa-user fa-lg"></i> Dados dos Usuários
                  </a>
                  </li>

                    <li>
                  <a href="/perguntas">
                  <i class="fa fa-pencil fa-lg"></i> Lista de Perguntas
                  </a>
                </li>
               
                 <li>
                  <a href="http:///www.instagram.com/appicesoftware">
                  <i class="fa fa-suitcase fa-lg"></i> Appice Software
                  </a>
                </li>
                  
                  <%= button_to('Sair', destroy_user_session_path, method: :delete, class: 'btn btn-danger sair') %>        


            </ul>
     </div>
</div>