<!DOCTYPE html>
<html>
  <head>
    <title>Show Dos Alimentos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('Watermelon.ico') %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <%= stylesheet_link_tag "application", :media => "all" %>
        <style>
            config{
                display: block;
                position: absolute;
                margin-left: 900px;
            }
        </style>
          <script language="JavaScript">
            //Acertos--------------------
            var jsonAcertosGeral;
            var jsonAcertosIdade;
            var jsonAcertosGenero;
            var jsonAcertosEscolaridade;
            //Nivel----------------------
            var jsonNivelIdade;
            var jsonNivelGenero;
            var jsonNivelEscolaridade;
            //Tempo----------------------
            var jsonTempoIdade;
            var jsonTempoGenero;
            var jsonTempoEscolaridade;
            function ConfirmarAlteracao() {
                if (confirm("Atenção! Este usuário será deletado com esta operação e não conseguirá mais jogar. Deseja continuar?"))
                    return true;
                else
                    return false;
            }
        </script>

        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", {packages: ["corechart"]});
            google.charts.setOnLoadCallback(pegaJsonAcertos);
            google.charts.setOnLoadCallback(pegaJsonTempo);
            google.charts.setOnLoadCallback(pegaJsonNivel);
            function pegaJsonAcertos() {
                loadingAcertos();
                var filtroSelecionado = document.getElementById("seletor_acertos").selectedIndex;
                if (filtroSelecionado === 0) { //Geral
                    $.getJSON('infoGraficos?grafico=acertos&filtro=geral', function (data) {
                        jsonAcertosGeral = data;
                        graficoAcertos();
                    });
                } else
                if (filtroSelecionado === 1) { //Idade
                    $.getJSON('infoGraficos?grafico=acertos&filtro=idade', function (data) {
                        jsonAcertosIdade = data;
                        graficoAcertos();
                    });
                } else
                if (filtroSelecionado === 2) { //Genero
                    $.getJSON('infoGraficos?grafico=acertos&filtro=genero', function (data) {
                        jsonAcertosGenero = data;
                        graficoAcertos();
                    });
                } else
                if (filtroSelecionado === 3) { //Escolaridade
                    $.getJSON('infoGraficos?grafico=acertos&filtro=escolaridade', function (data) {
                        jsonAcertosEscolaridade = data;
                        graficoAcertos();
                    });
                } else {
                    $.getJSON('infoGraficos?grafico=acertos&filtro=geral', function (data) {
                        jsonAcertosGeral = data;
                        graficoAcertos();
                    });
                }
            }
            function graficoAcertos() {
                google.charts.setOnLoadCallback(desenhaGraficoAcertos);
            }
            function desenhaGraficoAcertos() {

                var data = google.visualization.arrayToDataTable(pegaDadosAcertos());
                var options = {
                    pieHole: 0.4,
                    legend: 'none',
                    backgroundColor: '#DCDCDC',
                    chartArea: {'width': '90%', 'height': '90%'},
                    width: 270,
                    height: 270
                };
                var chart = new google.visualization.PieChart(document.getElementById('grafico_media_acertos'));
                pararLoadingAcertos();
                chart.draw(data, options);
            }
            function pegaDadosAcertos() {
                var selecionado = document.getElementById("seletor_acertos").selectedIndex;
                var dados;
                if (selecionado === 0) { //Geral
                    dados =
                            [
                                ['Status', 'Numero de Acertos'],
                                ['Acertos', jsonAcertosGeral.acertos],
                                ['Erros', jsonAcertosGeral.erros]
                            ];
                } else if (selecionado === 1) { //Idade
                    dados =
                            [
                                ['Idade', 'Numero de Acertos'],
                                ['7 a 15 anos', jsonAcertosIdade.fase1],
                                ['16 a 25 anos', jsonAcertosIdade.fase2],
                                ['26 a 35 anos', jsonAcertosIdade.fase3],
                                ['36 a 45 anos', jsonAcertosIdade.fase4],
                                ['acima de 46 anos', jsonAcertosIdade.fase5]
                            ];
                } else if (selecionado === 2) { //Genero
                    dados =
                            [
                                ['Genero', 'Numero de Acertos'],
                                ['Masculino', jsonAcertosGenero.masculino],
                                ['Feminino', jsonAcertosGenero.feminino]
                            ];
                } else if (selecionado === 3) { //Escolaridade
                    dados =
                            [
                                ['Escolaridade', 'Numero de Acertos'],
                                ['1° ano Fundamental', jsonAcertosEscolaridade.ef1],
                                ['2° ano Fundamental', jsonAcertosEscolaridade.ef2],
                                ['3° ano Fundamental', jsonAcertosEscolaridade.ef3],
                                ['4° ano Fundamental', jsonAcertosEscolaridade.ef4],
                                ['5° ano Fundamental', jsonAcertosEscolaridade.ef5],
                                ['6° ano Fundamental', jsonAcertosEscolaridade.ef6],
                                ['7° ano Fundamental', jsonAcertosEscolaridade.ef7],
                                ['8° ano Fundamental', jsonAcertosEscolaridade.ef8],
                                ['9° ano Fundamental', jsonAcertosEscolaridade.ef9],
                                ['1° ano Médio', jsonAcertosEscolaridade.em1],
                                ['2° ano Médio', jsonAcertosEscolaridade.em2],
                                ['3° ano Médio', jsonAcertosEscolaridade.em3],
                                ['Universitário', jsonAcertosEscolaridade.uni]
                            ];
                } else {
                    dados =
                            [
                                ['Status', 'Numero de Acertos'],
                                ['Acertos', 10],
                                ['Erros', 10]
                            ];
                }
                return dados;
            }

            function pegaJsonNivel() {
                loadingNivel();
                var nivel = document.getElementById("seletor_nivel").value;
                var filtro = document.getElementById("seletor_nivel_filtro").selectedIndex;
                if (filtro === 0) { //Idade
                    var url = 'infoGraficos?grafico=nivel&filtro=idade&nivel=' + nivel;
                    $.getJSON(url, function (data) {
                        jsonNivelIdade = data;
                        graficoNivel();
                    });
                } else
                if (filtro === 1) { //Genero
                    var url = 'infoGraficos?grafico=nivel&filtro=genero&nivel=' + nivel;
                    $.getJSON(url, function (data) {
                        jsonNivelGenero = data;
                        graficoNivel();
                    });
                } else
                if (filtro === 2) { //Escolaridade
                    var url = 'infoGraficos?grafico=nivel&filtro=escolaridade&nivel=' + nivel;
                    $.getJSON(url, function (data) {
                        jsonNivelEscolaridade = data;
                        graficoNivel();
                    });
                } else {
                    var url = 'infoGraficos?grafico=nivel&filtro=idade&nivel=' + nivel;
                    $.getJSON(url, function (data) {
                        jsonNivelIdade = data;
                        graficoNivel();
                    });
                }
            }
            function graficoNivel() {
                google.charts.setOnLoadCallback(desenhaGraficoNivel);
            }
            function desenhaGraficoNivel() {
                var data = google.visualization.arrayToDataTable(pegaDadosNivel());
                var options = {
                    pieHole: 0.4,
                    legend: 'none',
                    backgroundColor: '#DCDCDC',
                    chartArea: {'width': '90%', 'height': '90%'},
                    width: 270,
                    height: 270
                };
                var chart = new google.visualization.PieChart(document.getElementById('grafico_acertos_nivel'));
                pararLoadingNivel();
                chart.draw(data, options);
            }
            function pegaDadosNivel() {
                var dados;
                var filtro = document.getElementById("seletor_nivel_filtro").selectedIndex;
                if (filtro === 0) { // Idade
                    dados =
                            [
                                ['Idade', 'Acertos/Nivel'],
                                ['7 a 15 anos', jsonNivelIdade.fase1],
                                ['16 a 25 anos', jsonNivelIdade.fase2],
                                ['26 a 35 anos', jsonNivelIdade.fase3],
                                ['36 a 45 anos', jsonNivelIdade.fase4],
                                ['acima de 46 anos', jsonNivelIdade.fase5]
                            ];
                } else if (filtro === 1) { //Genero
                    dados =
                            [
                                ['Idade', 'Acertos/Nivel'],
                                ['Masculino', jsonNivelGenero.masculino],
                                ['Feminino', jsonNivelGenero.feminino]
                            ];
                } else if (filtro === 2) { //Escolaridade
                    dados =
                            [
                                ['Escolaridade', 'Acertos/Nivel'],
                                ['1° ano Fundamental', jsonNivelEscolaridade.ef1],
                                ['2° ano Fundamental', jsonNivelEscolaridade.ef2],
                                ['3° ano Fundamental', jsonNivelEscolaridade.ef3],
                                ['4° ano Fundamental', jsonNivelEscolaridade.ef4],
                                ['5° ano Fundamental', jsonNivelEscolaridade.ef5],
                                ['6° ano Fundamental', jsonNivelEscolaridade.ef6],
                                ['7° ano Fundamental', jsonNivelEscolaridade.ef7],
                                ['8° ano Fundamental', jsonNivelEscolaridade.ef8],
                                ['9° ano Fundamental', jsonNivelEscolaridade.ef9],
                                ['1° ano Médio', jsonNivelEscolaridade.em1],
                                ['2° ano Médio', jsonNivelEscolaridade.em2],
                                ['3° ano Médio', jsonNivelEscolaridade.em3],
                                ['Universitário', jsonNivelEscolaridade.uni]
                            ];
                } else {
                    dados =
                            [
                                ['Idade', 'Acertos/Nivel'],
                                ['7 a 15 anos', jsonNivelIdade.fase1],
                                ['16 a 25 anos', jsonNivelIdade.fase2],
                                ['26 a 35 anos', jsonNivelIdade.fase3],
                                ['36 a 45 anos', jsonNivelIdade.fase4],
                                ['acima de 46 anos', jsonNivelIdade.fase5]
                            ];
                }
                return dados;
            }

            function pegaJsonTempo() {
                loadingTempo();
                var filtroSelecionado = document.getElementById("seletor_tempo").selectedIndex;
                if (filtroSelecionado === 0) { //Idade
                    $.getJSON('infoGraficos?grafico=tempo&filtro=idade', function (data) {
                        jsonTempoIdade = data;
                        graficoTempo();
                    });
                } else
                if (filtroSelecionado === 1) { //Genero
                    $.getJSON('infoGraficos?grafico=tempo&filtro=genero', function (data) {
                        jsonTempoGenero = data;
                        graficoTempo();
                    });
                } else
                if (filtroSelecionado === 2) { //Escolaridade
                    $.getJSON('infoGraficos?grafico=tempo&filtro=escolaridade', function (data) {
                        jsonTempoEscolaridade = data;
                        graficoTempo();
                    });
                } else {
                    $.getJSON('infoGraficos?grafico=acertos&filtro=geral', function (data) {
                        jsonTempoIdade = data;
                        graficoTempo();
                    });
                }
            }
            function graficoTempo() {
                google.charts.setOnLoadCallback(desenhaGraficoTempo);
            }
            function desenhaGraficoTempo() {
                var data = google.visualization.arrayToDataTable(pegaDadosTempo());
                var options = {
                    pieHole: 0.4,
                    legend: 'none',
                    backgroundColor: '#DCDCDC',
                    chartArea: {'width': '90%', 'height': '90%'},
                    width: 270,
                    height: 270
                };
                var chart = new google.visualization.PieChart(document.getElementById('grafico_tempo_jogando'));
                pararLoadingTempo();
                chart.draw(data, options);
            }
            function pegaDadosTempo() {
                var dados;
                var selecionado = document.getElementById("seletor_tempo").selectedIndex;
                if (selecionado === 0) { //Idade
                    dados =
                            [
                                ['Idade', 'Tempo'],
                                ['7 a 15 anos', jsonTempoIdade.fase1],
                                ['16 a 25 anos', jsonTempoIdade.fase2],
                                ['26 a 35 anos', jsonTempoIdade.fase3],
                                ['36 a 45 anos', jsonTempoIdade.fase4],
                                ['acima de 46 anos', jsonTempoIdade.fase5]
                            ];
                } else if (selecionado === 1) { //Genero
                    dados =
                            [
                                ['Idade', 'Tempo'],
                                ['Masculino', jsonTempoGenero.masculino],
                                ['Feminino', jsonTempoGenero.feminino]
                            ];
                } else if (selecionado === 2) { //Escolaridade
                    dados =
                            [
                                ['Escolaridade', 'Tempo'],
                                ['1° ano Fundamental', jsonTempoEscolaridade.ef1],
                                ['2° ano Fundamental', jsonTempoEscolaridade.ef2],
                                ['3° ano Fundamental', jsonTempoEscolaridade.ef3],
                                ['4° ano Fundamental', jsonTempoEscolaridade.ef4],
                                ['5° ano Fundamental', jsonTempoEscolaridade.ef5],
                                ['6° ano Fundamental', jsonTempoEscolaridade.ef6],
                                ['7° ano Fundamental', jsonTempoEscolaridade.ef7],
                                ['8° ano Fundamental', jsonTempoEscolaridade.ef8],
                                ['9° ano Fundamental', jsonTempoEscolaridade.ef9],
                                ['1° ano Médio', jsonTempoEscolaridade.em1],
                                ['2° ano Médio', jsonTempoEscolaridade.em2],
                                ['3° ano Médio', jsonTempoEscolaridade.em3],
                                ['Universitário', jsonTempoEscolaridade.uni]
                            ];
                } else {
                    dados =
                            [
                                ['Idade', 'Tempo'],
                                ['7 a 15 anos', jsonTempoIdade.fase1],
                                ['16 a 25 anos', jsonTempoIdade.fase2],
                                ['26 a 35 anos', jsonTempoIdade.fase3],
                                ['36 a 45 anos', jsonTempoIdade.fase4],
                                ['acima de 46 anos', jsonTempoIdade.fase5]
                            ];
                }

                return dados;
            }

            function loadingAcertos() {
                //https://media.giphy.com/media/ucY7FE8F0IysM/giphy.gif
                
                var img = document.getElementById("loading_grafico_acertos");
                var grafico = document.getElementById("grafico_media_acertos");
                var gif1 = "https://media.giphy.com/media/ucY7FE8F0IysM/giphy.gif";
                var gif2 = "https://loading.io/spinners/cutiefox/lg.cutie-fox-spinner.gif";
                var aleatorio = Math.random();
                aleatorio = aleatorio * 10;
                aleatorio > 5 ? img.src = gif1 : img.src = gif2;
                if (img.style.display == 'none' || img.style.display == '') {
                    img.style.display = 'block';
                    grafico.style.display = 'none';
                }
            }
            function pararLoadingAcertos() {
                var img = document.getElementById("loading_grafico_acertos");
                var grafico = document.getElementById("grafico_media_acertos");
                if (img.style.display == 'block') {
                    img.style.display = 'none';
                    grafico.style.display = 'block';
                }

            }
            function loadingNivel() {
                //https://media.giphy.com/media/ucY7FE8F0IysM/giphy.gif
                
                var img = document.getElementById("loading_grafico_nivel");
                var grafico = document.getElementById("grafico_acertos_nivel");
                var gif1 = "https://media.giphy.com/media/ucY7FE8F0IysM/giphy.gif";
                var gif2 = "https://loading.io/spinners/cutiefox/lg.cutie-fox-spinner.gif";
                var aleatorio = Math.random();
                aleatorio = aleatorio * 10;
                aleatorio > 5 ? img.src = gif1 : img.src = gif2;
                if (img.style.display == 'none' || img.style.display == '') {
                    img.style.display = 'block';
                    grafico.style.display = 'none';
                }
            }
            function pararLoadingNivel() {
                var img = document.getElementById("loading_grafico_nivel");
                var grafico = document.getElementById("grafico_acertos_nivel");
                if (img.style.display == 'block') {
                    img.style.display = 'none';
                    grafico.style.display = 'block';
                }

            }
            function loadingTempo() {
                //https://media.giphy.com/media/ucY7FE8F0IysM/giphy.gif
                
                var img = document.getElementById("loading_grafico_tempo");
                var grafico = document.getElementById("grafico_tempo_jogando");
                var gif1 = "https://media.giphy.com/media/ucY7FE8F0IysM/giphy.gif";
                var gif2 = "https://loading.io/spinners/cutiefox/lg.cutie-fox-spinner.gif";
                var aleatorio = Math.random();
                aleatorio = aleatorio * 10;
                aleatorio > 5 ? img.src = gif1 : img.src = gif2;
                if (img.style.display == 'none' || img.style.display == '') {
                    img.style.display = 'block';
                    grafico.style.display = 'none';
                }
            }
            function pararLoadingTempo() {
                var img = document.getElementById("loading_grafico_tempo");
                var grafico = document.getElementById("grafico_tempo_jogando");
                if (img.style.display == 'block') {
                    img.style.display = 'none';
                    grafico.style.display = 'block';
                }

            }

        </script>
  </head>

  <body>
    <%= yield %>
  </body>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-notify@3.1.3/bootstrap-notify.js"></script>
<script>

                var $grid = $('.grid').isotope({
                    itemSelector: '.element-item',
                    masonry: {
                        columnWidth: 240
                    }
                });
                $('.filters-select').on('change', function () {
                    var filterValue = this.value;

                    $grid.isotope({filter: filterValue});
                });
            </script>

              <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    language: {
                        search: "Pesquisar:",
                        entries: "Itens",
                        "sEmptyTable": "Nenhum registro encontrado",
                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ".",
                        "sLengthMenu": "_MENU_ resultados por página",
                        "sLoadingRecords": "Carregando...",
                        "sProcessing": "Processando...",
                        "sZeroRecords": "Nenhum registro encontrado",
                        "oPaginate": {
                            "sNext": "Próximo",
                            "sPrevious": "Anterior",
                            "sShow: ": "Exibindo",
                            "sFirst": "Primeiro",
                            "sLast": "Último"
                        }
                    }
                });
            });
        </script>
        <% flash.each do |name, msg| %>
                <script>
                
                if (new String(name).valueOf() == new String("success").valueOf()) {
                    var ic = 'check'; }
                 else {
                 var ic = 'times-circle'; }
                $.notify({
                    icon: 'fa fa-'+ic,
                    message: "<%= msg %>"
                }, {
                    element: 'body',
                    type: '<%= name %> text-light bg-<%= name %>',
                    animate: {
                        enter: 'animated fadeInUp',
                        exit: 'animated fadeOutRight'
                    }, placement: {
                        from: "top",
                        align: "right"
                    }
                });
            </script>
        <% end %>    
</html>
